:root {
    --glitched-duration: 0.9s;
    --glitched-long-duration: 3s;
    --x2: #f9f002;
    --yellow-color-opacity: #f9f00242;
    --orange-color: #ff9800;
    --border-color: #8ae66e;
    --red-color: #ff003c;
    --blue-color: #0c5f74;
    --green-color: #298d29;
    --purple-color2: purple;
    --neon-color: #39ff14;
    --black-color: #000;
    --offwhite: #fafafa;
    --p1: #2d3342;
    --p2: #565c6d;
    --p3: #040c1b;
    --red-color: #e6005c;
    --red-color: #c5003c;
    --green-color: #41bf50;
    --green-color2: #8bcc3b;
    --purple-color: #440087;
    --yellow-color: #ffe009;
    --orange: #f59740;
    --lighblue: #69f8ff;
    --black-color: #050a0e;
    --blue-color: #0040b0;
    --darkblue: #1f0f57;
}

body {
  background-color: var(--yellow-color);
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

button.cyberpunk:hover,
a.cyberpunk:hover,
input[type=submit].cyberpunk:hover,
button.cyberpunk:focus,
a.cyberpunk:focus,
input[type=submit].cyberpunk:focus{
  animation-name: buttonhover;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

button.cyberpunk.blue,
input[type=submit].cyberpunk.blue,
a.cyberpunk.blue {
  --background-color: var(--blue-color);
}

button.cyberpunk:after,
input[type=submit].cyberpunk:after,
a.cyberpunk:after {
  content: var(--text);
  display: block;
  position: absolute;
  bottom: 0px;
  right: 25px;
  padding: 2px 2px 0px 2px;
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: var(--black-color);
  background-color: var(--yellow-color);
  border-left: 2px solid var(--border-color);
}

button.cyberpunk:before,
a.cyberpunk:before,
input[type=submit].cyberpunk:before {
  --outside: 4px;
  content: "";
  position: absolute;
  display: none;
  background-color: var(--background-color);
  width: calc(100% + (var(--outside) * 2));
  height: 12px;
  top: 0px;
  left: calc(0px - 1px - var(--outside));
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}

button.cyberpunk:hover:before,
a.cyberpunk:hover:before,
input[type=submit].cyberpunk:hover:before,
button.cyberpunk:focus:before,
a.cyberpunk:focus:before,
input[type=submit].cyberpunk:focus:before  {
  display: block;
  animation-name: buttonhoverbefore;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes buttonhover {
  0% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(0deg);
  }
  61% {
    transform: skew(10deg);
  }
  70% {
    transform: skew(10deg);
  }
  71% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes buttonhoverbefore {
  0% {
    display: none;
    top: 0px;
  }
  10% {
    display: none;
    top: 0px;
  }
  11% {
    display: block;
    top: 10px;
    left: calc(0px - 0px - var(--outside));
  }
  29% {
    top: 10px;
  }
  30% {
    display: none;
    top: 0px;
  }
  50% {
    display: none;
    top: 0px;
  }
  51% {
    display: block;
    top: 55px;
    filter: blur(1px);
    height: 22px;
  }
  90% {
    display: block;
    top: 55px;
    height: 22px;
  }
  91% {
    filter: blur(0px);
    display: none;
    top: 0px;
    height: 12px;
  }
  100% {
    display: none;
    top: 0px;
  }
}

@keyframes buttonhoverafter {
  0% {
    right: 45px;
  }

  10% {
    right: 45px;
  }
  11% {
    right: 35px;
  }
  20% {
    transform: skew(0deg);
  }
  21% {
    transform: skew(-10deg);
  }
  40% {
    transform: skew(-10deg);
  }
  41% {
    transform: skew(0deg);
  }
  49% {
    right: 35px;
  }
  50% {
    right: 55px;
  }

  60% {
    right: 55px;
  }
  61% {
    right: 35px;
  }
  70% {
    transform: skew(0deg);
  }
  71% {
    transform: skew(10deg);
  }
  80% {
    transform: skew(10deg);
  }
  81% {
    transform: skew(0deg);
  }
  100% {
    right: 35px;
  }
}